// Your variable overrides

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$body-bg:       $gray-200;
$body-color:    $gray-900;

$primary:       #f75f1c; // orange
$secondary:     #000; //black
$success:       #85e21f; // green
$info:          #881ee4; // purple
$warning:       #ff9a00; //
// $danger:        $red ; //



//import bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
        background-image: url(https://bloximages.newyork1.vip.townnews.com/feastmagazine.com/content/tncms/assets/v3/editorial/d/45/d45bce7a-a81a-11e5-9161-5b2fba97d18a/567856c261096.image.jpg);
        height: 347px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }
  .jumboheader {
    color: white;
    background-color: rgba(black, 0.7);
  }
.navbar {
  background-color: rgba(sienna, 0.7);
}
